<!doctype html>
<html lang=es>


<head>
    <meta charset="utf-8">
    <title>Brayan Brush | Corporación Logística</title>
    <!-- Stylesheets -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/revolution-slider.css" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/owl.css">
    <link href="style.css" rel="stylesheet">
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="css/bootstrap-margin-padding.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->

    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="img/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="img/favicon/favicon-16x16.png" sizes="16x16">

</head>

<body>

    <div class="main-wrapper">
        <!-- header start-->
        <div class="whatsContent">
            <a href="https://api.whatsapp.com/send?phone=51999999999&text=Quiero información sobre sus servicios"
                target="_blank"> <img src="./images/wha.png" alt="">
            </a>
            <a href="#" target="_blank"> <img src="./images/fb.png" alt="">
            </a>
        </div>
        <!--header end-->
        <div class="clearfix"></div>
        <!-- nav start-->
        <nav class="nav-2 stricky">
            <div class="container pl-xs-15 pr-xs-15 pl-0 pr-0">
                <!--logo-->
                <div class="fl logo-wrapper">
                    <img src="img/logo-1.png" alt="" class="logo">
                </div>
                <!-- navigation-->
                <div class="fr hidden-bar-opener pt-40 pb-40">
                    <i class="fa fa-bars"></i>
                </div>
                <div class="fr nav-itm-wrapper">
                    <ul>
                        <li class="dib"><a href="index.html" class="db">Inicio</a>

                        </li>
                        <li class="dib"><a href="about.html" class="db">Nosotros</a>

                        </li>
                        <li class="dib"><a href="services.html" class="db">Servicios</a></li>
                        <li class="dib"><a href="gallery.html" class="db active">Galería</a>

                        </li>

                        <li class="dib"><a href="contact.html" class="db">Contacto</a></li>
                        <li class="dib"><a href="./intranet/" target="_blank"
                                class="db">Intranet</a></li>
                        <li class="dib"><a href="#" class="db">Correo</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- nav end-->
        <!-- other-page-banner start -->
        <div class="other-page-banner">
            <div class="other-page-banner-content">
                <h1 class="other-page-banner-head">Galería</h1>
                <div class="other-page-banner-detail"><a class="c-1" href="index.html">INICIO&nbsp;</a> /&nbsp; Galería
                </div>
            </div>
        </div>
        <!--Gallery Section-->
        <section class="gallery-section style-one">
            <div class="container">

                <!--Masonry Gallery-->
                <div class="masonry-gallery">
                    <div class="items-container clearfix">
                        <!--Default Portfolio Item-->
                        <div class="default-portfolio-item masonry-item">
                            <div class="inner-box">
                                <figure class="image-box"><img src="img/gallery/gallery-1.jpg" alt=""></figure>
                                <div class="overlay-box">
                                    <a href="img/gallery/preview.jpg" class="lightbox-image image-link"
                                        title="Image Caption Here" data-fancybox-group="gallery-one"><span
                                            class="icon fa fa-search-plus"></span></a>
                                    <div class="image-title"><a href="news-detail.html">Brayan Brush | Corporación
                                            Logistica</a></div>
                                </div>
                            </div>
                        </div>

                        <!--Default Portfolio Item-->
                        <div class="default-portfolio-item masonry-item">
                            <div class="inner-box">
                                <figure class="image-box"><img src="img/gallery/gallery-2.jpg" alt=""></figure>
                                <div class="overlay-box">
                                    <a href="img/gallery/preview.jpg" class="lightbox-image image-link"
                                        title="Image Caption Here" data-fancybox-group="gallery-one"><span
                                            class="icon fa fa-search-plus"></span></a>
                                    <div class="image-title"><a href="news-detail.html">Brayan Brush | Corporación
                                            Logistica</a></div>
                                </div>
                            </div>
                        </div>

                        <!--Default Portfolio Item-->
                        <div class="default-portfolio-item masonry-item">
                            <div class="inner-box">
                                <figure class="image-box"><img src="img/gallery/gallery-3.jpg" alt=""></figure>
                                <div class="overlay-box">
                                    <a href="img/gallery/preview.jpg" class="lightbox-image image-link"
                                        title="Image Caption Here" data-fancybox-group="gallery-one"><span
                                            class="icon fa fa-search-plus"></span></a>
                                    <div class="image-title"><a href="news-detail.html">Brayan Brush | Corporación
                                            Logistica</a></div>
                                </div>
                            </div>
                        </div>

                        <!--Default Portfolio Item-->
                        <div class="default-portfolio-item masonry-item">
                            <div class="inner-box">
                                <figure class="image-box"><img src="img/gallery/gallery-4.jpg" alt=""></figure>
                                <div class="overlay-box">
                                    <a href="img/gallery/preview.jpg" class="lightbox-image image-link"
                                        title="Image Caption Here" data-fancybox-group="gallery-one"><span
                                            class="icon fa fa-search-plus"></span></a>
                                    <div class="image-title"><a href="news-detail.html">Brayan Brush | Corporación
                                            Logistica</a></div>
                                </div>
                            </div>
                        </div>

                        <!--Default Portfolio Item-->
                        <div class="default-portfolio-item masonry-item">
                            <div class="inner-box">
                                <figure class="image-box"><img src="img/gallery/gallery-5.jpg" alt=""></figure>
                                <div class="overlay-box">
                                    <a href="img/gallery/preview.jpg" class="lightbox-image image-link"
                                        title="Image Caption Here" data-fancybox-group="gallery-one"><span
                                            class="icon fa fa-search-plus"></span></a>
                                    <div class="image-title"><a href="news-detail.html">Brayan Brush | Corporación
                                            Logistica</a></div>
                                </div>
                            </div>
                        </div>

                        <!--Default Portfolio Item-->
                        <div class="default-portfolio-item masonry-item">
                            <div class="inner-box">
                                <figure class="image-box"><img src="img/gallery/gallery-7.jpg" alt=""></figure>
                                <div class="overlay-box">
                                    <a href="img/gallery/preview.jpg" class="lightbox-image image-link"
                                        title="Image Caption Here" data-fancybox-group="gallery-one"><span
                                            class="icon fa fa-search-plus"></span></a>
                                    <div class="image-title"><a href="news-detail.html">Brayan Brush | Corporación
                                            Logistica</a></div>
                                </div>
                            </div>
                        </div>

                        <!--Default Portfolio Item-->
                        <div class="default-portfolio-item masonry-item">
                            <div class="inner-box">
                                <figure class="image-box"><img src="img/gallery/gallery-8.jpg" alt=""></figure>
                                <div class="overlay-box">
                                    <a href="img/gallery/preview.jpg" class="lightbox-image image-link"
                                        title="Image Caption Here" data-fancybox-group="gallery-one"><span
                                            class="icon fa fa-search-plus"></span></a>
                                    <div class="image-title"><a href="news-detail.html">Brayan Brush | Corporación
                                            Logistica</a></div>
                                </div>
                            </div>
                        </div>

                        <!--Default Portfolio Item-->
                        <div class="default-portfolio-item masonry-item">
                            <div class="inner-box">
                                <figure class="image-box"><img src="img/gallery/gallery-6.jpg" alt=""></figure>
                                <div class="overlay-box">
                                    <a href="img/gallery/preview.jpg" class="lightbox-image image-link"
                                        title="Image Caption Here" data-fancybox-group="gallery-one"><span
                                            class="icon fa fa-search-plus"></span></a>
                                    <div class="image-title"><a href="news-detail.html">Brayan Brush | Corporación
                                            Logistica</a></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </section>
        <!--End Gallery Section-->
        <div class="clearfix"></div>
        <!-- Footer start-->
        <footer class="footer-2 pt-80">
            <div class="container pb-80 pl-0 pr-0 pl-xs-15 pr-xs-15">


                <div class="footer-2-newsletter pt-40 center-all">
                    <form action="http://html.commonsupport.xyz/2017/Turinlogistics/get" class="pos-r">
                        <h2 class="lh-10 pr-40 c-5 text-up ff-b ls-50 fz-16 pt-20 pb-20 fl">Recibe nuestras noticias
                        </h2>
                        <input type="email" placeholder="Enter your email" class="footer-2-news-mail">
                        <button type="submit" class="footer-2-news-submit">Enviar</button>
                    </form>
                </div>
                <ul class="footer-1-social center-all mt-40">
                    <li class="pr-10 fl"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li class="pr-10 fl"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="pr-10 fl"><a href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
            <div class="separator"></div>
            <div class="container pl-xs-15 pr-xs-15 pl-0 pr-0">
                <p class="pt-40 pb-40 text lh-10 c-6 center">Copyright &copy;2020 <a href="#" class="c-5">Brayan
                        Brush</a> Todos los derechos reservados</p>
            </div>
        </footer>
        <!-- Footer end-->
        <div class="clearfix"></div>
        <!--Scroll to top-->
        <div class="scroll-to-top"><span class="fa fa-angle-up"></span></div>
        <div class="clearfix"></div>
        <!-- .hidden-bar -->
        <div class="hidden-bar anim-5">
            <div class="hidden-bar-closer">
                <button class="btn">
                    <i class="fa fa-close"></i>
                </button>
            </div>
            <!-- .hidden-bar-wrapper -->
            <div class="hidden-bar-wrapper">

                <!-- .logo -->
                <div class="logo text-center">
                    <a href="index.html">
                        <img src="img/logo-1.png" alt="">
                    </a>
                </div>
                <!-- /.logo -->
                <!-- .main-menu -->
                <div class="main-menu text-center">
                    <!-- .navigation -->
                    <ul class="navigation clearfix">
                        <li>
                            <a href="index.html">Inicio</a>

                        </li>
                        <li>
                            <a href="about.html">Nosotros</a>

                        </li>
                        <li> <a href="services.html">Servicios</a></li>
                        <li>
                            <a href="#">Galeria</a>

                        </li>

                        <li> <a href="contact.html">Contacto</a>
                        </li>
                        <li> <a href="./intranet/" target="_blank">Intranet</a>
                        </li>

                        <li> <a href="#" target="_blank">Correo</a>
                        </li>

                    </ul>
                    <!-- /.navigation -->
                </div>
                <!-- /.main-menu -->
            </div>
            <!-- /.hidden-bar-wrapper -->
        </div>
        <!-- /.hidden-bar -->
        <!-- /.hidden-bar -->
    </div>

    <div class="preloader"></div>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/revolution.min.js"></script>
    <script src="js/owl.js"></script>
    <script src="js/jquery.mixitup.min.js"></script>
    <script src="js/isotope.js"></script>
    <script src="js/jquery.fancybox.pack.js"></script>
    <script src="js/map-helper.js"></script>
    <script src="js/wow.js"></script>
    <script src="js/script.js"></script>

</body>


</html>